@model EducateApp.ViewModels.Users.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля - Пользователи";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
        <li class="breadcrumb-item active">Изменение пароля</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Изменение пароля для пользователя @Model.Email
</h3>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="ChangePassword" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <input type="password" asp-for="NewPassword" placeholder="Новый пароль" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>